<div class="container text-center pb-3 mb-5 mt-5" >

    <form class="example" action="#">
        <input type="text" class="main-search" placeholder="Search.." name="search">
        <button class="main-search-button btn-success" type="submit"><i class="fa fa-search"></i></button>
    </form>

</div>