@model ScriptsBookmark.Models.Bookmark
@{
    ViewData["Title"] = "Details";
}

<br />

<h2 class="text-danger">Bookmark Delete</h2>
<br />

<form method="post" asp-action="Delete">
    <div class="backgroundWhite">
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Title" class="col-form-label"></label>
            </div>
            <div class="col-8 mb-2">
                <input asp-for="Title" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Description" class="col-form-label"></label>
            </div>
            <div class="col-8">
                @Html.DisplayFor(b => b.Description, new { @id = "Description", @readonly="true"} )
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Code" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <pre><code>@Html.DisplayFor(b => b.Code, new { @id="Code", @readonly="true"})</code></pre>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DeleteAndBackToListButton" model="Model.Id" />
            </div>
        </div>
    </div>
</form>