@model IEnumerable<ScriptsBookmark.Models.Bookmark>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Searchbar" />


<br />



<div class="backgroundWhite">
   <h1>Recent Searches</h1>
    <h1>Most Frequent Searches</h1>
</div>